.container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px;
  margin-top: auto;
  position: absolute;
  width: 100%;
  right: 15px;
  bottom: 15px;
}
.button {
  width: 35px;
  height: 35px;
}